{block styles}

{/block}
{block scripts}
    <script>
        $(function () {
            $("body").on("click", "[data-target='#modal-deliveryMethodEdit']", function () {
                /*$("#frm-editDeliveryMethod input[name='methodId']").val($(this).find("td[data-id]").attr("data-id"));
                 $("#frm-editDeliveryMethod input[name='name']").val($(this).find("td[data-name]").attr("data-name"));
                 $("#frm-editDeliveryMethod input[name='price']").val($(this).find("td[data-price]").attr("data-price"));*/
                $.nette.ajax({
                    url: "?do=getEditedDeliveryMethod",
                    data: {
                        methodId: $(this).find("td[data-id]").attr("data-id")
                    },
                    start: function () {
                        $(".input-load").show();
                    },
                    success: function (payload) {
                        $(".input-load").hide();
                    },
                    error: function () {
                        alert("Chyba!");
                    }
                });
            });
            $("body").on("click", "[data-target='#modal-paymentMethodEdit']", function () {
                /*$("#frm-editPaymentMethod input[name='methodId']").val($(this).find("td[data-id]").attr("data-id"));
                 $("#frm-editPaymentMethod input[name='name']").val($(this).find("td[data-name]").attr("data-name"));
                 $("#frm-editPaymentMethod input[name='price']").val($(this).find("td[data-price]").attr("data-price"));*/
                $.nette.ajax({
                    url: "?do=getEditedPaymentMethod",
                    data: {
                        methodId: $(this).find("td[data-id]").attr("data-id")
                    },
                    start: function () {
                        $(".input-load").show();
                    },
                    success: function (payload) {
                        $(".input-load").hide();
                    },
                    error: function () {
                        alert("Chyba!");
                    }
                });
            });

            $("body").on("click", "[data-dismiss='modal']", function () {
                $(".modal-body input").val("");
            });
        });
    </script>
{/block}
{block content}
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            {_backOffice.categories.deliveryAndPayment}
            <small></small>
        </h1>
        <ol class="breadcrumb">
            <li><a n:href="Homepage:"><i class="fa fa-dashboard"></i> {_backOffice.categories.home}</a></li>
            <li class="active">{_backOffice.categories.deliveryAndPayment}</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <!-- left column -->
            <div class="col-md-6">
                <!-- general form elements -->
                <div class="box" n:snippet="deliveryMethods">
                    <div class="box-header">
                        <h3 class="box-title"><i class="fa fa-truck"></i> {_backOffice.deliveryAndPayment.deliveryMethods}</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body no-padding">
                        <table class="table table-bordered table-hover">
                            <tr>
                                <th style="width: 10px">#</th>
                                <th>{_backOffice.deliveryAndPayment.name}</th>
                                <th style="width: 120px">{_backOffice.deliveryAndPayment.price}</th>
                                <th style="width: 10px"></th>
                            </tr>
                            <tr n:foreach="$deliveryMethods as $deliveryMethod" style="cursor: pointer;"
                                                                                data-toggle="modal"
                                                                                data-target="#modal-deliveryMethodEdit">
                                <td data-id="{$deliveryMethod->id}">{$deliveryMethod->id}</td>
                                <td data-name="{$deliveryMethod->name}">{$deliveryMethod->name}</td>
                                <td data-price="{$deliveryMethod->price}">
                                    {$deliveryMethod->price |number:2:',':' '},- Kč
                                </td>
                                <td>
                                    <a n:href="deleteDeliveryMethod! $deliveryMethod->id"
                                            class="ajax fa  fa-remove"></a>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="3">
                                    <button class="btn btn-block btn-default" data-toggle="modal"
                                            data-target="#modal-deliveryMethodAdd">
                                        <i class="fa fa-plus"></i> {_backOffice.deliveryAndPayment.addMethod}
                                    </button>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
            <!--/.col (left) -->
            <!-- right column -->
            <div class="col-md-6">
                <div class="box" n:snippet="paymentMethods">
                    <div class="box-header">
                        <h3 class="box-title"><i class="fa fa-credit-card"></i> {_backOffice.deliveryAndPayment.paymentMethods}</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body no-padding">
                        <table class="table table-bordered table-hover">
                            <tr>
                                <th style="width: 10px">#</th>
                                <th>{_backOffice.deliveryAndPayment.name}</th>
                                <th style="width: 120px">{_backOffice.deliveryAndPayment.price}</th>
                                <th style="width: 10px"></th>
                            </tr>
                            <tr n:foreach="$paymentMethods as $paymentMethod" style="cursor: pointer;"
                                                                              data-toggle="modal"
                                                                              data-target="#modal-paymentMethodEdit">
                                <td data-id="{$paymentMethod->id}">{$paymentMethod->id}</td>
                                <td data-name="{$paymentMethod->name}">{$paymentMethod->name}</td>
                                <td data-price="{$paymentMethod->price}">
                                    {$paymentMethod->price |number:2:',':' '},- Kč
                                </td>
                                <td>
                                    <a n:href="deletePaymentMethod! $paymentMethod->id" class="ajax fa  fa-remove"></a>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="3">
                                    <button class="btn btn-block btn-default" data-toggle="modal"
                                            data-target="#modal-paymentMethodAdd">
                                        <i class="fa fa-plus"></i> {_backOffice.deliveryAndPayment.addMethod}
                                    </button>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
            <!--/.col (right) -->
        </div>
        <!-- /.row -->
    </section>
    <!-- /.content -->
{/block}

{block dialogs}
    <div class="modal fade" id="modal-deliveryMethodAdd">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title"><i class="fa fa-truck"></i> {_backOffice.deliveryAndPayment.dialogs.addDeliveryMethod}</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <form n:name="addDeliveryMethod">
                            <label n:name="name">{_backOffice.deliveryAndPayment.name}</label>
                            <input n:name="name" class="form-control" placeholder="{_backOffice.deliveryAndPayment.name}...">
                            <label n:name="price">{_backOffice.deliveryAndPayment.price}</label>
                            <input n:name="price" class="form-control" placeholder="{_backOffice.deliveryAndPayment.price}...">
                            <label>{_backOffice.deliveryAndPayment.dialogs.supportedPaymentMethods}</label><br>
                            {foreach $form[paymentMethods]->items as $key => $paymentMethod}
                                <label n:name="paymentMethods:$key">
                                    <input n:name="paymentMethods:$key">
                                    {$paymentMethod}
                                </label><br>
                            {/foreach}
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">
                        {_backOffice.deliveryAndPayment.dialogs.close}
                    </button>
                    <button type="button" class="btn btn-primary" onclick="$('#frm-addDeliveryMethod').submit();">
                        {_backOffice.deliveryAndPayment.dialogs.save}
                    </button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->

    <div class="modal fade" id="modal-paymentMethodAdd">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title"><i class="fa fa-credit-card"></i> {_backOffice.deliveryAndPayment.dialogs.addPaymentMethod}</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <form n:name="addPaymentMethod">
                            <label n:name="name">{_backOffice.deliveryAndPayment.name}</label>
                            <input n:name="name" class="form-control" placeholder="{_backOffice.deliveryAndPayment.name}...">
                            <label n:name="price">{_backOffice.deliveryAndPayment.price}</label>
                            <input n:name="price" class="form-control" placeholder="{_backOffice.deliveryAndPayment.price}...">
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">
                        {_backOffice.deliveryAndPayment.dialogs.close}
                    </button>
                    <button type="button" class="btn btn-primary" onclick="$('#frm-addPaymentMethod').submit();">
                        {_backOffice.deliveryAndPayment.dialogs.save}
                    </button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->

    <div class="modal fade" id="modal-deliveryMethodEdit">
        <div class="modal-dialog" n:snippet="deliveryMethodEdit">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title"><i class="fa fa-truck"></i> {_backOffice.deliveryAndPayment.dialogs.editDeliveryMethod}</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        {ifset $editedDeliveryMethod}
                            <form n:name="editDeliveryMethod">
                                <label n:name="name">{_backOffice.deliveryAndPayment.name}</label> <i class="fa fa-refresh fa-spin input-load"
                                                                      style="display: none;"></i>
                                <input n:name="name" class="form-control" placeholder="{_backOffice.deliveryAndPayment.name}..."
                                                     value="{$editedDeliveryMethod->name}">
                                <label n:name="price">{_backOffice.deliveryAndPayment.price}</label> <i class="fa fa-refresh fa-spin input-load"
                                                                      style="display: none;"></i>
                                <input n:name="price" class="form-control" placeholder="{_backOffice.deliveryAndPayment.price}..."
                                                      value="{$editedDeliveryMethod->price}">
                                <label>{_backOffice.deliveryAndPayment.dialogs.supportedPaymentMethods}</label><i class="fa fa-refresh fa-spin input-load"
                                                                             style="display: none;"></i><br>
                                {foreach $form[paymentMethods]->items as $key => $paymentMethod}
                                    <label n:name="paymentMethods:$key"><i class="fa fa-refresh fa-spin input-load"
                                                                           style="display: none;"></i>
                                        {if $deliveryMethods[$editedDeliveryMethod->id]->paymentMethods[$key]->isSupported}
                                            <input n:name="paymentMethods:$key" checked>
                                        {else}
                                            <input n:name="paymentMethods:$key">
                                        {/if}
                                        {$paymentMethod}
                                    </label><br>
                                {/foreach}

                                <input n:name="methodId" value="{$editedDeliveryMethod->id}">
                            </form>
                        {else}
                            <div class="overlay">
                                <i class="fa fa-refresh fa-spin"></i>
                            </div>
                        {/ifset}
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">
                        {_backOffice.deliveryAndPayment.dialogs.close}
                    </button>
                    <button type="button" class="btn btn-primary" onclick="$('#frm-editDeliveryMethod').submit();">
                        {_backOffice.deliveryAndPayment.dialogs.saveChanges}
                    </button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->

    <div class="modal fade" id="modal-paymentMethodEdit">
        <div class="modal-dialog" n:snippet="paymentMethodEdit">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title"><i class="fa fa-credit-card"></i> {_backOffice.deliveryAndPayment.dialogs.editPaymentMethod}</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        {ifset $editedPaymentMethod}
                            <form n:name="editPaymentMethod">
                                <label n:name="name">{_backOffice.deliveryAndPayment.name}</label> <i class="fa fa-refresh fa-spin input-load"
                                                                      style="display: none;"></i>
                                <input n:name="name" class="form-control" placeholder="{_backOffice.deliveryAndPayment.name}..."
                                                     value="{$editedPaymentMethod->name}">
                                <label n:name="price">{_backOffice.deliveryAndPayment.price}</label> <i class="fa fa-refresh fa-spin input-load"
                                                                      style="display: none;"></i>
                                <input n:name="price" class="form-control" placeholder="{_backOffice.deliveryAndPayment.price}..."
                                                      value="{$editedPaymentMethod->price}">
                                <input n:name="methodId" value="{$editedPaymentMethod->id}">
                            </form>
                        {else}
                            <div class="overlay">
                                <i class="fa fa-refresh fa-spin"></i>
                            </div>
                        {/ifset}
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">
                        {_backOffice.deliveryAndPayment.dialogs.close}
                    </button>
                    <button type="button" class="btn btn-primary" onclick="$('#frm-editPaymentMethod').submit();">
                        {_backOffice.deliveryAndPayment.dialogs.saveChanges}
                    </button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
{/block}