<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">

    <title>Eshop</title>
    <link rel="stylesheet" href="{$basePath}/js/jquery-ui/jquery-ui.css">

    <link rel="stylesheet" href="{$basePath}/css/grossik/main.css">

    <link rel="stylesheet" href="{$basePath}/css/body_1.css">

    <link rel="stylesheet" href="{$basePath}/css/grossik/category_menu.css">

    {include styles}

    <script src="{$basePath}/js/jquery-3.1.1.min.js"></script>
    <script src="{$basePath}/js/jquery-ui/jquery-ui.js"></script>
    <script src="{$basePath}/js/netteForms.js"></script>
    <script src="{$basePath}/js/nette.ajax.js-master/nette.ajax.js"></script>
    <script>
        $(function () {
            $.nette.init();
        });
    </script>
    <script src="{$basePath}/js/loader/loader.js"></script>

    <script src="{$basePath}/js/shopcart.js"></script>
    <script src="{$basePath}/js/searchEngine.js"></script>
    {include scripts}
</head>

<body>
<div id="main-menu">
    <div n:foreach="$flashes as $flash" n:class="flash, $flash->type">{$flash->message}</div>
    {if $orders == []}
        <span id="kosik-a">
            <a n:href="Order:Order:" id="link-cart">
                <img src="{$basePath}/photos/ic_shopping_cart_black_24dp_1x.png">
                Košík
            </a>
        </span>
    {else}
        <span id="kosik-a">
            <a n:href="Order:Order:" id="link-cart">
                <img src="{$basePath}/photos/ic_shopping_cart_black_24dp_1x.png">
                {$totalPrice |number:2:',':' '} Kč
            </a>
        </span>
    {/if}
    <div id="kosik">
        {snippet ordersList}
            {if $orders != []}
                <table>
                    <tr n:foreach="$orders as $order">
                        {if $order['titleImage'] != null}
                            <img src="{$basePath}/photos/thumbs/{$order['id']}/{$order['titleImage']}" width="60"
                                 class="img-productTitleImage">
                        {else}
                            <img src="{$basePath}/gui/icons/item_default.png" width="60" class="item-image"
                                 alt="{$order['name']}">
                        {/if}
                        <span class="kosikText">
    	                    <span>{$order['name']}</span>
    	                    <br>
    	                    <span style="color: #0AAD0F">{$order['totalPriceString']},-</span>
                        </span>
                        <br>
                    </tr>
                </table>
            {else}
                Prázdný košík
            {/if}
        {/snippet}
        <a href="javascript:{}" id="link-emptyCart">Vysypat košík</a>
    </div>
    <input id="searchEngine">
</div>

<div id="cont">
    {control categoriesMenu 3}
    {include content}
</div>
</body>
</html>