{block styles}

    <link rel="stylesheet" href="{$basePath}/css/grossik/priceRangeSlider.css">
    <link rel="stylesheet" href="{$basePath}/css/item.css">
    <link rel="stylesheet" href="{$basePath}/css/grossik/leftFilter.css">

{/block}
{block scripts}
    <script src="{$basePath}/js/sortItems.js"></script>
    <script src="{$basePath}/js/items-admin.js"></script>
{/block}


{block content}
	<div id="leftFilter">
		
	</div>
    	
    {snippet categoryList}
    	<div n:foreach="$categories as $category"> 
			<a href={plink Homepage:printProducts categoryPath => $category->fullPath, categoryId => $category->id}><span>{$category->name}</span></a>
    	</div>
    {/snippet}	
    	
    <div id="div-priceSliderContainer">
        <span id="span-minPrice">{$minPrice},-</span>
        <span id="span-maxPrice">{$maxPrice},-</span>
        <div id="slider-priceRange" data-minPrice="{$minPrice}" data-maxPrice="{$maxPrice}"></div>
    </div>
    {snippet itemList}    
        <div id="vol">
            <div id="div-sortMenu" data-currentSort="{$currentSort}">
                <a n:href="changeSort! orderFromCheapest, $minPrice, $maxPrice" class="ajax a-sortType">
                    Od nejlevnějšího
                </a>
                <a n:href="changeSort! orderFromMoreExpensive, $minPrice, $maxPrice" class="ajax a-sortType">
                    Od nejdražšího
                </a>
                <a n:href="changeSort! bestSeller, $minPrice, $maxPrice" class="ajax a-sortType">
                    Nejprodávanější
                </a>
                <a n:href="changeSort! latest, $minPrice, $maxPrice" class="ajax a-sortType">
                    Nejnovější
                </a>
            </div>
        </div>

        <div id="div-productContent">
            <div class=" item-container-grid">
                <div class="item " n:foreach="$items as $item">
                    <h3>
                        <a n:href="Homepage:product item => $item->urlName, itemId => $item->id">
                            {$item->name}
                        </a>
                    </h3>
                    <div class="itemsImage">
                        <span class="item-basket">
                            <a href="javascript:{}" onclick="addToCart('{$item->id}')">Přidat do košíku</a>
                        </span>
                        <object data="{$basePath}/photos/thumbs/{$item->id}/{$item->titleImage}" type="image/png"  class="item-image">
                            <img src="{$basePath}/gui/icons/item_default.png" class="item-image" alt="{$item->name}">
                        </object>
                    </div>
                    <ul>
                        <li>
                            <span class="item-short-description item-center">{$item->shortDescription}</span>
                        </li>
                        <li>
                            <div class="center-bbb">
                                <div class="items-price item-center">
                                    <span class="item-priceDph ">{$item->price + ($item->price * $item->dph * 0.01) |number:2:',':' '},- Kč</span><br>
                                    <span class="item-price ">bez dph: {$item->price |number:2:',':' '},- Kč</span>
                                </div>
                            </div>
                        </li>
                        <li>
                            {if $item->quantity == '0'}
                                <span class="item-quantity item-center quantity-null">vyprodáno
                            {elseif $item->quantity < '0' && $item->quantity >= '5'}
                                <span class="quantity-low item-quantity item-center">posledních pár kusů
                            {else}
                                <span class="item-quantity item-center quantity-full">skladem
                            {/if}
                            </span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    {/snippet}
{/block}