{block styles}
    <link rel="stylesheet" href="{$basePath}/css/body.css">
    <link rel="stylesheet" href="{$basePath}/css/grossik/categoryMenu.css">
    <link rel="stylesheet" href="{$basePath}/css/snad.css">
    <link rel="stylesheet" href="{$basePath}/css/product.css">
{/block}
{block scripts}
    <script src="{$basePath}/js/editItem.js"></script>
{/block}
{block content}
    <div id="div-categoryMenu">

    </div>
    <div class="div-product">
        <div class="editableField">
            <h1 class="editableValue">{$item->name}</h1>
            <input type="text" id="input-itemName" value="{$item->name}" class="editableFieldInput" style="display: none">
        </div>
        {if $item->titleImage != null}
            <img src="{$basePath}/photos/photos/{$item->id}/{$item->titleImage}" class="img-productTitleImage">
        {else}
            Neexistuje
        {/if}
        <div class="div-productPrice">
            Cena: {$item->price},-Kč
        </div>
        <p>Cena s dhp: {$item->price + ($item->price * $dph * 0.01) |number:2:',':' '},- Kč</p>
        <div class="kosik"><span class=""><a href="javascript:{}" onclick="addToCart('{$item->id}')">Přidat do košíku</a></span></div>
        <p>{$item->shortDescription}</p>
        <div class="div-productImages">
            {if $item->images}
            {foreach $item->images as $image}
                {if $image != $item->titleImage}
                    <img src="{$basePath}/photos/photos/{$item->id}/{$image}" class="img-productImage">
                {/if}
            {/foreach}
            {/if}
        </div>
        <p>{$item->description}</p>
    </div>
{/block}