{block styles}
<style>
    .ui-autocomplete-category{
        font-weight: bold;
        font-size: 25px;
    }
</style>
{/block}
{block scripts}
<script>
    $( function() {
        //$(".ui-autocomplete-loading").css("background", "white url(" + {$basePath} + "'/gui/icons/loading.gif') right center no-repeat");
        $.widget( "custom.catcomplete", $.ui.autocomplete, {
            _create: function() {
                this._super();
                this.widget().menu("option", "items", "> :not(.ui-autocomplete-category)");
            },
            _renderMenu: function( ul, items ) {
                var that = this, currentCategory = "";
                console.log(items);
                $.each(items, function(index, item) {
                    var li;
                    if (item.category != currentCategory) {
                        ul.append("<li class='ui-autocomplete-category'>" + item.category + "</li>");
                        currentCategory = item.category;
                    }
                    li = that._renderItemData(ul, item);
                    if (item.category) {
                        //li.attr("aria-label", item.category + " : " + item.label);
                        li.attr("data-id", item.id);
                        li.attr("data-type", item.type);
                    }
                });
            }
        });
        $("#searchEngine")
            .on("keydown", function(event) {
                if (event.keyCode === $.ui.keyCode.TAB &&
                    $(this).autocomplete("instance").menu.active ) {
                    event.preventDefault();
                }
            })
            .catcomplete({
            source: function(request, response) {
                $.nette.ajax({
                    url: "?do=getSearchResult",
                    data : {
                        text: extractLast(request.term)
                    },
                    success: function (payload) {
                        console.log(payload.test);
                        response($.parseJSON(payload.results));
                    }
                });
            },
            search: function() {
                // custom minLength
                var term = this.value; //extractLast(this.value);
                if (term.length < 2) {
                    return false;
                }
            },
            focus: function() {
                // prevent value inserted on focus
                return false;
            },
            select: function(event, ui) {
                $.nette.ajax({
                    url: "?do=getUrl",
                    data : {
                        type: ui.item.type,
                        selectedId: ui.item.id
                    },
                    success: function (payload) {
                        location = payload.url;
                    }
                });
                return false;
            }
        });
        function split(val) {
            return val.split(/,\s*/);
        }
        function extractLast(term) {
            return split(term).pop();
        }
    } );
</script>
{/block}
{block content}<br>
    <input id="search">
{/block}