<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">

	<title>Administrace</title>
	<link rel="stylesheet" href="{$basePath}/js/jquery-ui/jquery-ui.css">
	<link rel="stylesheet" href="{$basePath}/css/backOffice-menu.css">
	{include styles}

	<script src="{$basePath}/js/jquery-3.1.1.min.js"></script>
	<script src="{$basePath}/js/jquery-ui/jquery-ui.js"></script>
	<script src="{$basePath}/js/netteForms.js"></script>
	<script src="{$basePath}/js/nette.ajax.js-master/nette.ajax.js"></script>
	<script>
		$(function(){
			$.nette.init();
		});
	</script>
	{include scripts}
</head>

<body>
	<div n:foreach="$flashes as $flash" n:class="flash, $flash->type">{$flash->message}</div>
	<div id="div-mainMenu">
		<ul id="ul-mainMenu">
			<li>
				<a n:href="Orders:">Objednávky</a>
			</li>
			<li>
				<a n:href="Products:">Zboží</a>
			</li>
			<li>
				<a n:href="Statistics:">Statistiky</a>
			</li>
			<li>
				<a n:href="Settings:">Nastavení</a>
			</li>
		</ul>
	</div>
	<a n:href="logoutUser!">Odhlásit se</a>
	<br><br>
	{include content}


</body>
</html>
