<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">

	<title>Eshop</title>
	<link rel="stylesheet" href="{$basePath}/js/jquery-ui/jquery-ui.css">

	<link href="https://fonts.googleapis.com/css?family=Nunito|Fjalla+One" rel="stylesheet">

	<link rel="stylesheet" href="{$basePath}/css/mainMenu.css">

	<link rel="stylesheet" href="{$basePath}/css/body_1.css">

	<link rel="stylesheet" href="{$basePath}/css/grossik/main.css">

	{include styles}

	<script src="{$basePath}/js/jquery-3.1.1.min.js"></script>
	<script src="{$basePath}/js/jquery-ui/jquery-ui.js"></script>
	<script src="{$basePath}/js/jquery-cookie-master/src/jquery.cookie.js"></script>
	<script src="{$basePath}/js/netteForms.js"></script>
	<script src="{$basePath}/js/nette.ajax.js-master/nette.ajax.js"></script>
	<script>
		$(function(){
			$.nette.init();
		});
	</script>
	<script src="{$basePath}/js/loader/loader.js"></script>

	<script src="{$basePath}/js/shopcart.js"></script>
	{include scripts}
</head>

<body>
<div id="main-menu">

	<a n:href=":Homepage:printProducts">Produkty</a>
</div>

<div id="cont">
	{include content}
</div>

</body>
</html>
