{block styles}

{/block}
{block scripts}

{/block}
{block content}
    <section class="content-header">
        <h1>
            {_backOffice.categories.statistics}
            <small></small>
        </h1>
        <ol class="breadcrumb">
            <li><a n:href="Homepage:"><i class="fa fa-dashboard"></i> {_backOffice.categories.home}</a></li>
            <li class="active">{_backOffice.categories.statistics}</li>
        </ol>
    </section>

    <section class="content">
        <div class="row">
            <div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-aqua">
                    <div class="inner">
                        <h3>{$todayOrders}</h3>
                        <p>{_backOffice.statistics.todayOrders.todayOrders}</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-bag"></i>
                    </div>
                    <a href="#" class="small-box-footer">{_backOffice.statistics.todayOrders.moreInfo} <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">{_backOffice.statistics.theMostVisitedProducts.theMostVisitedProducts}</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body no-padding">
                        <table class="table table-bordered table-hover">
                            <tr>
                                <th style="width: 10px">ID</th>
                                <th>{_backOffice.statistics.theMostVisitedProducts.productName}</th>
                                <th style="width: 10px">{_backOffice.statistics.theMostVisitedProducts.countOfVisits}</th>
                            </tr>
                            <tr n:foreach="$mostVisitedItems as $item">
                                <td>{$item[item]->id}</td>
                                <td>{$item[item]->name}</td>
                                <td style="text-align: center">{$item[countOfVisits]}</td>
                            </tr>
                        </table>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
            <!-- /.col -->
            <div class="col-md-6">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">{_backOffice.statistics.bestSellingProducts.bestSellingProducts}</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body no-padding">
                        <table class="table table-bordered table-hover">
                            <tr>
                                <th style="width: 10px">ID</th>
                                <th>{_backOffice.statistics.bestSellingProducts.productName}</th>
                                <th style="width: 10px">{_backOffice.statistics.bestSellingProducts.orders}</th>
                            </tr>
                            <tr n:foreach="$bestSellingProducts as $item">
                                <td>{$item->id}</td>
                                <td>{$item->name}</td>
                                <td style="text-align: center">{$item->countOfPurchases}</td>
                            </tr>
                        </table>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-md-6">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">{_backOffice.statistics.mostUsedOS.mostUsedOS}</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body no-padding">
                        <table class="table table-bordered table-hover">
                            <tr n:foreach="$mostVisitedOs as $os">
                                <td>{$os[name]}</td>
                            </tr>
                        </table>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
            <!-- /.col -->
            <div class="col-md-6">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">{_backOffice.statistics.mostUsedBrowsers.mostUsedBrowsers}</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body no-padding">
                        <table class="table table-bordered table-hover">
                            <tr n:foreach="$mostVisitedBrowsers as $browser">
                                <td>{$browser[name]}</td>
                            </tr>
                        </table>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>
    <!-- /.content -->
{/block}

{block dialogs}

{/block}