{block styles}
    <link rel="stylesheet" href="{$basePath}/css/order.css">
{/block}
{block scripts}

{/block}
{block content}
    <form n:name="deliveryInformations">
        <input n:name="firstname">
    </form>

{/block}