{block styles}
    <link rel="stylesheet" href="{$basePath}/css/order.css">
{/block}
{block scripts}

{/block}
{block content}
    <form n:name="deliveryAndPaymentMethods">
        Způsob dodání: <br>
        <div class=" gridMethod">
            {foreach $form[deliveryMethods]->items as $id => $method}
                <label n:name="deliveryMethods:$id">
                    <div class="gm">
                        <input n:name="deliveryMethods:$id">
                        {$method}
                    </div>
                </label>
            {/foreach}
        </div>
        <br>
        Způsob platby: <br>
        <div class=" gridMethod">
            {foreach $form[paymentMethods]->items as $id => $method}
                <label n:name="paymentMethods:$id">
                    <div class="gm">
                        <input n:name="paymentMethods:$id">
                            {$method}
                    </div>
                </label>
            {/foreach}
        </div>
        <input n:name="deliveryAndPaymentMethodsSubmit">
    </form>
{/block}

{foreach $form[deliveryMethods] as $id => $method}
    <input n:name="deliveryMethods:$id">
    {$method[name]}
    Cena: {$method[price]} Kč
    <br>
{/foreach}