{block styles}
    <link rel="stylesheet" href="{$basePath}/css/order.css">
{/block}
{block scripts}
    <script src="{$basePath}/js/orders-in-cart.js"></script>
{/block}
{block content}
    {snippet ordersList}
        {if $orders != []}
            <table class="orderTableS1" >
                <tr>
                    <th>Název položky</th>
                    <th>Množství</th>
                    <th>Cena</th>
                    <th>Celková cena</th>
                    <!--<th>Dostupnost</th>-->
                    <th></th>
                </tr>
                <tr n:foreach="$orders as $order">
                    <td>{$order['name']}</td>
                    <td><input type="number" name="quantity" min="1" value="{$order['quantity']}" data-itemId="{$order['id']}" class="itemQuantityInput"></td>
                    <td>{$order['priceString']} Kč</td>
                    <td>{$order['totalPriceString']} Kč</td>
                   <!-- <td>{$order['availability']}</td> -->
                    <td><a n:href="deleteFromCart! $order['id']" class="ajax">Smazat</a></td>
                </tr>
            </table>

            Celková cena: {$totalPrice |number:2:',':' '} Kč
            <br>
            <a n:href="Order:step2">Pokračovat v objednávce</a>
        {else}
            Prázdný košík
        {/if}
    {/snippet}
{/block}