{block styles}
    <link rel="stylesheet" type="text/css" href="{$basePath}/css/addItemDialog.css">
{/block}
{block scripts}
    <script src="{$basePath}/js/addItem.js"></script>
    <script>
        var post_max_filesize = {$post_max_size};
        $(function () {
            $("#span-postMaxFilesize").html(bytesToSize(post_max_filesize));
            $("#div-addItem-dialog").tooltip({
                track: true
            });
        });
    </script>
{/block}
{block content}
    <section class="content-header">
        <h1>
            {_backOffice.categories.goods}
            <small></small>
        </h1>
        <ol class="breadcrumb">
            <li><a n:href="Homepage:"><i class="fa fa-dashboard"></i> {_backOffice.categories.home}</a></li>
            <li class="active">{_backOffice.categories.goods}</li>
        </ol>
    </section>

    <section class="content">
        <div class="row">
            <div class="col-md-6">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">{_backOffice.goods.categories}</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body no-padding">
                        <div id="div-categoriesMenu">
                            {control categoriesMenu null, true}
                        </div>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
            <!-- /.col -->
            <div class="col-md-6">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title"></h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body no-padding">
                        <button type="button" class="btn btn-block btn-primary" data-toggle="modal"
                                data-target="#modal-addItem">
                            <i class="fa fa-plus"></i>
                            {_backOffice.goods.addProduct}
                        </button>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>
    <!-- /.content -->
{/block}

{block dialogs}
    <div class="modal fade" id="modal-addItem">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title"><i class="fa fa-plus-square"></i> {_backOffice.goods.addProduct}</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <form n:name=addItem class=''>
                            <table>
                                <tr>
                                    <td>
                                        <label n:name=name>Název položky:</label>
                                    <td>
                                        <input n:name=name>
                                <tr>
                                    <td>
                                        <label n:name=price>Cena:</label>
                                    <td>
                                        <input n:name=price>
                                <tr>
                                    <td>
                                        <label n:name=availability>Dostupnost:</label>
                                    <td>
                                        <input n:name=availability>
                                <tr>
                                    <td>
                                        <label n:name=quantity>Množství:</label>
                                    <td>
                                        <input n:name=quantity>
                                <tr>
                                    <td>
                                    <td>
                                        <div id="div-showUploadedImage"></div>
                                <tr>
                                    <td title="Další obrázky bude možné nahrát později">
                                        <label n:name=images>Obrázky:</label><br>
                                        (Maximálně <span id="span-postMaxFilesize"></span>)
                                    <td>
                                        <input n:name=images>
                                <tr>
                                    <td>
                                        <label n:name=shortDescription>Krátký popis:</label>
                                    <td>
                                        {input shortDescription}
                                        <!--
            <tr>
                <td>
                    <label n:name=description>Popis:</label>
                <td>
                    {input description class=>txtArea-productDescription}
            -->
                                <tr>
                                    <td>
                                        <label n:name=dph>Typ DPH: </label>
                                    <td>
                                        {input dph}
                            </table>
                            <input n:name="titleImg">
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">
                        {_backOffice.goods.dialogs.close}
                    </button>
                    <button type="button" class="btn btn-primary" onclick="$('#frm-addItem').submit();">
                        {_backOffice.goods.dialogs.save}
                    </button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
{/block}