{block styles}

{/block}
{block scripts}
    <script>
        $(function () {
            $('#tb-orders').DataTable({
                'paging'      : true,
                'lengthChange': false,
                'searching'   : true,
                'ordering'    : true,
                'info'        : true,
                'autoWidth'   : false
            })
        });
    </script>
{/block}
{block content}
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            {_backOffice.categories.orders}
            <small></small>
        </h1>
        <ol class="breadcrumb">
            <li><a n:href="Homepage:"><i class="fa fa-dashboard"></i> {_backOffice.categories.home}</a></li>
            <li class="active">{_backOffice.categories.orders}</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">{_backOffice.orders.ordersTable.ordersTable}</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <table id="tb-orders" class="table table-bordered table-hover">
                            <thead>
                            <tr>
                                <th>{_backOffice.orders.ordersTable.orderId}</th>
                                <th>{_backOffice.orders.ordersTable.name}</th>
                                <th>{_backOffice.orders.ordersTable.priceWithoutVat}</th>
                                <th>{_backOffice.orders.ordersTable.priceWithVat}</th>
                                <th>{_backOffice.orders.ordersTable.dateOfOrder}</th>
                                <th>{_backOffice.orders.ordersTable.delivery}</th>
                                <th>{_backOffice.orders.ordersTable.payment}</th>
                                <th>{_backOffice.orders.ordersTable.status}</th>
                            </tr>
                            </thead>
                            <tbody>
                            {foreach $orders as $order}
                            <tr onclick="window.location={link order $order->id}" style="cursor: pointer;">
                                <td>{$order->id}</td>
                                <td>{$order->firstname} {$order->surname}</td>
                                <td>{$order->totalPrice->price |number:2:',':' '},-Kč</td>
                                <td>{$order->totalPrice->priceWithDPH |number:2:',':' '},-Kč</td>
                                <td>{$order->date_of_entry|date:'j.n.Y H:i:s'}</td>
                                <td>{$order->deliveryMethod->name} + {$order->deliveryMethod->price},-Kč</td>
                                <td>{$order->paymentMethod->name} + {$order->paymentMethod->price},-Kč</td>
                                <td>
                                    {if $order->status == 0}
                                        <span class="label label-primary">Nové</span>
                                    {/if}
                                </td>
                            </tr>
                            {/foreach}
                            </tbody>
                            <tfoot>
                            <tr>
                                <th>{_backOffice.orders.ordersTable.orderId}</th>
                                <th>{_backOffice.orders.ordersTable.name}</th>
                                <th>{_backOffice.orders.ordersTable.priceWithoutVat}</th>
                                <th>{_backOffice.orders.ordersTable.priceWithVat}</th>
                                <th>{_backOffice.orders.ordersTable.dateOfOrder}</th>
                                <th>{_backOffice.orders.ordersTable.delivery}</th>
                                <th>{_backOffice.orders.ordersTable.payment}</th>
                                <th>{_backOffice.orders.ordersTable.status}</th>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>
    <!-- /.content -->
{/block}
{block dialogs}

{/block}