{block styles}

{/block}
{block scripts}

{/block}
{block content}
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            {_backOffice.order.orderNumber} {$order->id}
            <small></small>
        </h1>
        <ol class="breadcrumb">
            <li><a n:href="Homepage:"><i class="fa fa-dashboard"></i> {_backOffice.categories.home}</a></li>
            <li class="active"><a n:href="Orders:">{_backOffice.categories.orders}</a></li>
            <li class="active">{$order->id}</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="invoice">
        <div class="row">
            <div class="col-md-6">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">{_backOffice.order.billingInformations}</h3>
                    </div>
                    <div class="box-body">
                        <b>{_backOffice.order.name}:</b> {$order->firstname} {$order->surname} <br>
                        <b>{_backOffice.order.company}:</b><br>
                        <b>{_backOffice.order.street}:</b> {$order->billingStreet}<br>
                        <b>{_backOffice.order.city}:</b> {$order->billingTown}<br>
                        <b>{_backOffice.order.PC}:</b> {$order->billingPsc}<br>
                        <b>{_backOffice.order.country}:</b> {$order->billingState}<br>
                        <b>{_backOffice.order.CRN}:</b><br>
                        <b>{_backOffice.order.TAXID}:</b><br>
                    </div>
                </div>
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">{_backOffice.order.orderedGoodsTable.orderedGoods}</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <table id="tb-orderItemsList" class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th>{_backOffice.order.orderedGoodsTable.orderNumber}</th>
                                <th>{_backOffice.order.orderedGoodsTable.product}</th>
                                <th>{_backOffice.order.orderedGoodsTable.quantity}</th>
                                <th>{_backOffice.order.orderedGoodsTable.priceWithoutVat}</th>
                                <th>{_backOffice.order.orderedGoodsTable.priceWithVat}</th>
                                <th>{_backOffice.order.orderedGoodsTable.totalPriceWithoutVat}</th>
                                <th>{_backOffice.order.orderedGoodsTable.vat}</th>
                                <th>{_backOffice.order.orderedGoodsTable.totalPriceWithVat}</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr n:foreach="$orderItems as $item">
                                <td>{$item->id}</td>
                                <td>{$item->name}</td>
                                <td>{$item->orderQuantity}</td>
                                <td>{$item->price |number:2:',':' '},-Kč</td>
                                <td>{$item->priceWithDph |number:2:',':' '},-Kč</td>
                                <td>{$item->totalPrice |number:2:',':' '},-Kč</td>
                                <td>{$item->dph}%</td>
                                <td>{$item->totalPriceWithDph |number:2:',':' '},-Kč</td>
                            </tr>
                            </tbody>
                            <tfoot>
                            <tr>
                                <th>{_backOffice.order.orderedGoodsTable.orderNumber}</th>
                                <th>{_backOffice.order.orderedGoodsTable.product}</th>
                                <th>{_backOffice.order.orderedGoodsTable.quantity}</th>
                                <th>{_backOffice.order.orderedGoodsTable.priceWithoutVat}</th>
                                <th>{_backOffice.order.orderedGoodsTable.priceWithVat}</th>
                                <th>{_backOffice.order.orderedGoodsTable.totalPriceWithoutVat}</th>
                                <th>{_backOffice.order.orderedGoodsTable.vat}</th>
                                <th>{_backOffice.order.orderedGoodsTable.totalPriceWithVat}</th>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
            <!--/.col (left) -->
            <!-- right column -->
            <div class="col-md-6">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">{_backOffice.order.deliveryInformations}</h3>
                    </div>
                    <div class="box-body">
                        <b>{_backOffice.order.name}:</b> <br>
                        <b>{_backOffice.order.street}:</b> {$order->deliveryStreet}<br>
                        <b>{_backOffice.order.city}:</b> {$order->deliveryTown}<br>
                        <b>{_backOffice.order.PC}:</b> {$order->deliveryPsc}<br>
                        <b>{_backOffice.order.country}:</b> {$order->deliveryState}<br>
                    </div>
                </div>
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">{_backOffice.order.contact.contactInformations}</h3>
                    </div>
                    <div class="box-body">
                        <b>{_backOffice.order.contact.email}:</b> {$order->email}<br>
                        <b>{_backOffice.order.contact.phone}:</b> {$order->phone}<br>
                    </div>
                </div>
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">{_backOffice.order.summary.summary}</h3>
                    </div>
                    <div class="box-body">
                        <b>{_backOffice.order.summary.priceWithoutVat}:</b> {$totalPrice->withoutDph |number:2:',':' '},-Kč<br>
                        <b>{_backOffice.order.summary.totalPriceWithoutVat}:</b> {$totalPrice->withDph |number:2:',':' '},-Kč
                    </div>
                </div>
            </div>
            <!--/.col (right) -->
        </div>
        <!-- /.row -->

        <div class="row">
            <div class="col-xs-12">
                <a n:href="Orders:Invoice, orderId => $order->id" target="_blank" class="btn btn-default">
                    <i class="fa fa-print"></i> {_backOffice.order.print}
                </a>

                <button type="button" class="btn btn-success pull-right"><i class="fa fa-credit-card"></i>
                    {_backOffice.order.submitOrder}
                </button>

                <button type="button" class="btn btn-primary pull-right" style="margin-right: 5px;">
                    <i class="fa fa-download"></i> {_backOffice.order.makeAnInvoice}
                </button>
            </div>
        </div>
    </section>
    <!-- /.content -->
{/block}
{block dialogs}
{/block}