#div-categoryMenu{
	//margin-top: 15px;
}
#div-categoryMenu ul {
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: #F0F0F0;
  z-index: 10;
}

#div-categoryMenu ul li {
  display: block;
  position: relative;
  float: left;
  background: #F0F0F0;
}

#div-categoryMenu li ul { display: none; }

#div-categoryMenu ul li a {
  display: block;
  padding: 1em;
  text-decoration: none;
  white-space: nowrap;
  color: black;
}

#div-categoryMenu ul li a:hover { background: #D44A00; }

#div-categoryMenu li:hover > ul {
  display: block;
  position: absolute;
}

#div-categoryMenu li:hover li { float: none; }

#div-categoryMenu li:hover a { background: #F0F0F0; }

#div-categoryMenu li:hover li a:hover { background: #D44A00; }

#div-categoryMenu .main-navigation li ul li { border-top: 0; }

#div-categoryMenu ul ul ul {
  left: 100%;
  top: 0;
}

#div-categoryMenu ul:before, ul:after {
  content: " "; 
  display: table; 
}

#div-categoryMenu ul:after { clear: both; }
