#div-productContent{
	float: right;
	width: 84%;
}

.item-container-grid {
  display: inline-grid;
  grid-template-columns: auto auto auto;
  grid-gap: 20px; }
  @media screen and (min-width: 1500px) {
    .item-container-grid {
      grid-template-columns: auto auto auto auto; } }

.item {
  text-align: center;
  position: relative;
  height: 440px;
  width: 270px;
  background-color: #fdfdfd;
  border-style: solid;
  border-width: 1px;
  border-color: #dadada;
  border-radius: 10px; }
  .item .item-img, .item img {
    width: 200px;
    height: 200px; }
  .item div {
    width: 90%; }
  .item h3 {
    font-family: "Nunito", sans-serif;
    font-size: 35px;
    text-align: center;
    position: relative;
    margin: 5px;
    margin-top: 15px; }
  .item ul {
    list-style: none;
    margin: 0;
    padding: 0; }
    .item ul li {
      margin-top: 10px; }

.item-center {
  text-align: center;
  margin-top: 10px; }

.item-image {
  display: -webkit-inline-box; }