body{
	//width: 80%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0;
}

#main-menu {
	vertical-align: top;
	border: 1px solid blue;
  	background-color: #fff;
  	margin-left: auto;
  	margin-right: auto;
  	height: 24px;
  	z-index: 8000; 
}
  
#main-menu a {
    color: #000000;
    margin-bottom: 0px;
    text-decoration: none;
    height: 24px;
    font-size: 20px; 
    vertical-align: top;
}

#kosik {
  display: none;
  position: absolute;
  z-index: 9000;  
  border: 1px solid black;
  background-color: white;
  margin-top: -5px;
  padding: 5px;
  width: 260px;
}
  
#kosik:hover {
    display: block; 
}

#kosik-a {
  font-size: 20px; 
}

#kosik-a:hover + div {
    display: block; 
}

#searchEngine{
	vertical-align: top;
	height: 18px;
}

.kosikText{
	display: inline-block;
    margin-left: 10px;
    line-height: 1.3;
    vertical-align: top;
    white-space: normal;"
}