#vol{
	margin-top: 15px;
}

#vol a{
	color: black;
	text-decoration: none;
}

#div-priceSliderContainer {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  width: 500px;
}

#slider-priceRange { 
  position: relative;
  width: 75%;
  margin: auto; 
}

#span-minPrice {
  position: relative;
  float: left;
}

#span-maxPrice {
  position: relative;
  float: right; 
}

.slidePriceRangeHandle {
  width: 1.5em !important;
  height: 1.5em !important;
  text-align: center;
  border-radius: 8px; 
}