{if $isAdmin}
    <script src="{$basePath}/js/items-admin.js"></script>
    <style>
        #div-categoryMenu {
            background-color: #222d32;
        }
    </style>
{/if}

{snippet categoryMenu}
    <div id="div-categoryMenu" class="{if $isAdmin}sidebar{/if}">
        <ul class="main-navigation {if $isAdmin}treeview-menu sidebar-menu tree{/if}"
            {if $isAdmin}data-widget="tree"{/if} style="display: block">
            {include menu, itemCategories => $itemCategories, parentId => 0}
        </ul>
    </div>
{/snippet}

{define menu}
    {foreach $itemCategories as $category}
        {if $parentId == 0}
            {var $fullPathIdes = $category->id}
        {else}
            {var $fullPathIdes = $category->fullPathIdes . "_" . $category->id}
        {/if}
        <li class="li-category {if $isAdmin}treeview{/if}" data-categoryPath="{$fullPathIdes}">
            {if !$isAdmin}
                <a href={plink Homepage:printProducts categoryPath => $category->fullPath, categoryId => $category->id}
                   class="a-category {if $category->level == '1'}main-category-a{/if}">
                    {$category->name}
                </a>
            {else}
                <a href="javascript:{}" class="">
                    {$category->name}
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left"></i>
                    </span>
                </a>
                {include deleteCategoryForm, fullPathIdes => $fullPathIdes, categoryId => $category->id}
            {/if}
            <ul {if $isAdmin}class="treeview-menu"{/if}>
                {ifset $maxLevel}
                    {ifset $category->children}
                        {include menuLevel2, itemCategories => $category->children, parentId => $category->id}
                    {/ifset}
                {else}
                    {ifset $category->children}
                        {include menu, itemCategories => $category->children, parentId => $category->id}
                    {/ifset}
                {/ifset}

                {if $isAdmin}
                    {include addCategoryForm, fullPathIdes => $fullPathIdes, parentId => $category->id}
                {/if}
            </ul>
        </li>
    {/foreach}
    {if $isAdmin && $parentId == 0}
        {include addCategoryForm, fullPathIdes => 0, parentId => 0}
    {/if}
{/define}


{define menuLevel2}
    {foreach $itemCategories as $category}
        <li>
            <a href={plink Homepage:printProducts categoryPath => $category->fullPath, categoryId => $category->id}>{$category->name}</a>
            <ul>
                <li>
                    {ifset $category->children}
                        {include menuLevel3, itemCategories => $category->children, parentId => $category->id}
                    {/ifset}
                </li>
            </ul>
        </li>
    {/foreach}
{/define}

{define menuLevel3}
    {foreach $itemCategories as $category}
        <a href={plink Homepage:printProducts categoryPath => $category->fullPath, categoryId => $category->id}>{$category->name}</a>
    {/foreach}
{/define}

{define addCategoryForm}<!--
    <li class="li-category treeview li-categoriesMenu-addCategory">
        <a href="javascript:{}" data-categoryFullPath="{$fullPathIdes}" class="link-addCategory">
            Přidat položku
            <span class="pull-right-container">
                <i class="fa fa-angle-left"></i>
            </span>
        </a>
        <ul class="treeview-menu">-->
            <li class="li-category treeview li-categoriesMenu-addCategory">
                <form n:name="addCategoryForm-{$fullPathIdes}" class="ajax addMenuCategoryForm">
                    <input n:name="categoryName" class="form-control input-sm">
                    <input n:name="parentId" value="{$parentId}">
                    <input n:name="submit">
                </form>
            </li>
        <!--</ul>
    </li>-->
{/define}