#div-sortMenu {
  margin-top: 20px;
  margin-left: 10%; }

body {
  text-align: center;
  background-color: #ccc;
  margin: 0px; }
  body #main-menu {
    text-align: left; }

#cont {
  position: absolute;
  width: 80%;
  top: 0px;
  padding-top: 50px;
  background-color: #fdfdfd;
  left: 10%;
  z-index: -1; }

/*# sourceMappingURL=body_1.css.map */
