@keyframes changeColors {
  from {
    background-color: #f9cbb2; }
  to {
    background-color: #f7ba99; } }
#div-categoryMenu {
  font-family: "Fjalla One", "sans-serif";
  list-style-type: none;
  position: unset;
  background-color: #f9cbb2;
  z-index: 9000;
  display: block;
  top: 40px; }
  #div-categoryMenu:hover {
    animation-name: changeColors;
    animation-duration: 50ms; }
  #div-categoryMenu .main-category-a {
    color: black;
    text-decoration: none;
    font-size: 20px; }
  #div-categoryMenu ul {
    text-align: center;
    margin: 0px;
    margin-right: 0;
    padding: 0;
    list-style-type: none;
    display: -webkit-inline-box;
    /*hr
     * width: 95%
     * content: ''
     * height: 20px
     * margin-top: -21px
     * border-style: solid
     * border-width: 0 0 1px 0
     * border-radius: 20px
     * border-color: $fontColor */ }
    #div-categoryMenu ul hr {
      display: none; }
    #div-categoryMenu ul li {
      margin: 0px 0px 0px 20px;
      padding-top: 10px;
      padding-bottom: 10px;
      position: relative; }
      #div-categoryMenu ul li:hover {
        background-color: #f7ba99; }
        #div-categoryMenu ul li:hover .div-category + div {
          display: block; }

.div-category + div {
  display: none; }

.div-primaryCategory + div {
  position: absolute;
  left: 100%;
  top: 0px;
  z-index: 9001;
  padding: 2px;
  list-style-type: none;
  background-color: #f7ba99; }

.menu-grid-container {
  display: inline-grid;
  grid-template-columns: auto auto auto auto auto;
  grid-gap: 10px; }

.menu-grid-container div div h4 {
  margin: 0px;
  text-align: center; }

.menu-item {
  width: 100px;
  height: 100px; }

.div-secondaryCategory {
  background-color: #990000; }

/*# sourceMappingURL=category_menu.css.map */
