
body {margin-top: 0px;margin-left: 0px;}

#page_1 {position:relative; overflow: hidden;margin: 40px 0px 58px 38px;padding: 0px;border: none;width: 756px;}
#page_1 #id_1 {border:none;margin: 6px 0px 0px 0px;padding: 0px;border:none;width: 756px;overflow: hidden;}
#page_1 #id_2 {border:none;margin: 27px 0px 0px 4px;padding: 0px;border:none;width: 711px;overflow: hidden;}
#page_1 #id_2 #id_2_1 {float:left;border:none;margin: 0px 0px 0px 0px;padding: 0px;border:none;width: 304px;overflow: hidden;}
#page_1 #id_2 #id_2_2 {float:left;border:none;margin: 4px 0px 0px 0px;padding: 0px;border:none;width: 407px;overflow: hidden;}
#page_1 #id_3 {border:none;margin: 390px 0px 0px 0px;padding: 0px;border:none;width: 730px;overflow: hidden;}

#page_1 #p1dimg1 {position:absolute;top:0px;left:0px;z-index:-1;width:722px;height:958px;}
#page_1 #p1dimg1 #p1img1 {width:722px;height:958px;}




.dclr {clear:both;float:none;height:1px;margin:0px;padding:0px;overflow:hidden;}

.ft0{font: bold 16px 'Arial';line-height: 19px;}
.ft1{font: 16px 'Arial';line-height: 18px;}
.ft2{font: 1px 'Arial';line-height: 8px;}
.ft3{font: 1px 'Arial';line-height: 11px;}
.ft4{font: 9px 'Arial';line-height: 11px;}
.ft5{font: 1px 'Arial';line-height: 6px;}
.ft6{font: bold 13px 'Arial';line-height: 16px;}
.ft7{font: 1px 'Arial';line-height: 1px;}
.ft8{font: bold 11px 'Arial';line-height: 14px;}
.ft9{font: 11px 'Arial';line-height: 14px;}
.ft10{font: 13px 'Arial';line-height: 16px;}
.ft11{font: 1px 'Arial';line-height: 7px;}
.ft12{font: 11px 'Arial';line-height: 11px;}
.ft13{font: 1px 'Arial';line-height: 9px;}
.ft14{font: 13px 'Arial';line-height: 15px;}
.ft15{font: 9px 'Arial';line-height: 12px;}
.ft16{font: 1px 'Arial';line-height: 10px;}
.ft17{font: 9px 'Arial';line-height: 10px;}
.ft18{font: 1px 'Arial';line-height: 5px;}
.ft19{font: 1px 'Arial';line-height: 13px;}
.ft20{font: 11px 'Arial';line-height: 13px;}
.ft21{font: bold 11px 'Arial';line-height: 13px;}
.ft22{font: bold 12px 'Arial';line-height: 15px;}
.ft23{font: bold 16px 'Arial';color: #808080;line-height: 19px;}
.ft24{font: 11px 'Arial';line-height: 12px;}
.ft25{font: bold 8px 'Arial';line-height: 9px;}
.ft26{font: 8px 'Arial';line-height: 9px;}
.ft27{font: 8px 'Arial';line-height: 10px;}

.p0{text-align: left;padding-left: 632px;padding-right: 40px;margin-top: 0px;margin-bottom: 0px;text-indent: 3px;}
.p1{text-align: left;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p2{text-align: left;padding-left: 1px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p3{text-align: left;padding-left: 9px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p4{text-align: right;padding-right: 7px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p5{text-align: left;padding-left: 14px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p6{text-align: left;padding-left: 8px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p7{text-align: right;padding-right: 161px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p8{text-align: left;padding-left: 6px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p9{text-align: left;padding-left: 3px;margin-top: 48px;margin-bottom: 0px;}
.p10{text-align: left;padding-left: 3px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p11{text-align: right;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p12{text-align: right;padding-right: 99px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p13{text-align: right;padding-right: 4px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p14{text-align: right;padding-right: 134px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p15{text-align: right;padding-right: 5px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p16{text-align: left;margin-top: 0px;margin-bottom: 0px;}
.p17{text-align: left;padding-left: 70px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p18{text-align: left;padding-left: 2px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p19{text-align: left;padding-left: 42px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p20{text-align: left;padding-left: 146px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}

.td0{border-left: #000000 1px solid;border-top: #000000 1px solid;padding: 0px;margin: 0px;width: 7px;vertical-align: bottom;}
.td1{border-top: #000000 1px solid;padding: 0px;margin: 0px;width: 56px;vertical-align: bottom;}
.td2{border-top: #000000 1px solid;padding: 0px;margin: 0px;width: 21px;vertical-align: bottom;}
.td3{border-top: #000000 1px solid;padding: 0px;margin: 0px;width: 18px;vertical-align: bottom;}
.td4{border-top: #000000 1px solid;padding: 0px;margin: 0px;width: 255px;vertical-align: bottom;}
.td5{border-top: #000000 1px solid;padding: 0px;margin: 0px;width: 5px;vertical-align: bottom;background: #000000;}
.td6{border-top: #000000 1px solid;padding: 0px;margin: 0px;width: 20px;vertical-align: bottom;}
.td7{border-top: #000000 1px solid;padding: 0px;margin: 0px;width: 53px;vertical-align: bottom;}
.td8{border-top: #000000 1px solid;padding: 0px;margin: 0px;width: 84px;vertical-align: bottom;}
.td9{border-right: #000000 1px solid;border-top: #000000 1px solid;padding: 0px;margin: 0px;width: 194px;vertical-align: bottom;}
.td10{border-top: #000000 1px solid;padding: 0px;margin: 0px;width: 3px;vertical-align: bottom;background: #000000;}
.td11{border-left: #000000 1px solid;padding: 0px;margin: 0px;width: 7px;vertical-align: bottom;}
.td12{padding: 0px;margin: 0px;width: 56px;vertical-align: bottom;}
.td13{padding: 0px;margin: 0px;width: 21px;vertical-align: bottom;}
.td14{padding: 0px;margin: 0px;width: 18px;vertical-align: bottom;}
.td15{padding: 0px;margin: 0px;width: 255px;vertical-align: bottom;}
.td16{padding: 0px;margin: 0px;width: 5px;vertical-align: bottom;background: #000000;}
.td17{padding: 0px;margin: 0px;width: 73px;vertical-align: bottom;}
.td18{padding: 0px;margin: 0px;width: 84px;vertical-align: bottom;}
.td19{border-right: #000000 1px solid;padding: 0px;margin: 0px;width: 194px;vertical-align: bottom;}
.td20{padding: 0px;margin: 0px;width: 3px;vertical-align: bottom;background: #000000;}
.td21{padding: 0px;margin: 0px;width: 20px;vertical-align: bottom;}
.td22{padding: 0px;margin: 0px;width: 137px;vertical-align: bottom;}
.td23{padding: 0px;margin: 0px;width: 95px;vertical-align: bottom;}
.td24{padding: 0px;margin: 0px;width: 77px;vertical-align: bottom;}
.td25{padding: 0px;margin: 0px;width: 53px;vertical-align: bottom;}
.td26{padding: 0px;margin: 0px;width: 39px;vertical-align: bottom;}
.td27{border-left: #000000 1px solid;border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 7px;vertical-align: bottom;}
.td28{border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 56px;vertical-align: bottom;}
.td29{border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 21px;vertical-align: bottom;}
.td30{border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 18px;vertical-align: bottom;}
.td31{border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 255px;vertical-align: bottom;}
.td32{border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 5px;vertical-align: bottom;background: #000000;}
.td33{border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 3px;vertical-align: bottom;background: #000000;}
.td34{border-right: #000000 1px solid;padding: 0px;margin: 0px;width: 19px;vertical-align: bottom;background: #000000;}
.td35{padding: 0px;margin: 0px;width: 53px;vertical-align: bottom;background: #000000;}
.td36{padding: 0px;margin: 0px;width: 84px;vertical-align: bottom;background: #000000;}
.td37{border-right: #000000 1px solid;padding: 0px;margin: 0px;width: 194px;vertical-align: bottom;background: #000000;}
.td38{padding: 0px;margin: 0px;width: 5px;vertical-align: bottom;}
.td39{border-right: #000000 1px solid;padding: 0px;margin: 0px;width: 19px;vertical-align: bottom;}
.td40{padding: 0px;margin: 0px;width: 3px;vertical-align: bottom;}
.td41{border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 95px;vertical-align: bottom;}
.td42{border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 5px;vertical-align: bottom;}
.td43{border-right: #000000 1px solid;border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 19px;vertical-align: bottom;}
.td44{border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 137px;vertical-align: bottom;}
.td45{border-right: #000000 1px solid;border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 194px;vertical-align: bottom;}
.td46{padding: 0px;margin: 0px;width: 260px;vertical-align: bottom;}
.td47{border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 53px;vertical-align: bottom;}
.td48{border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 84px;vertical-align: bottom;}
.td49{padding: 0px;margin: 0px;width: 240px;vertical-align: bottom;}
.td50{padding: 0px;margin: 0px;width: 81px;vertical-align: bottom;}
.td51{padding: 0px;margin: 0px;width: 31px;vertical-align: bottom;}
.td52{padding: 0px;margin: 0px;width: 186px;vertical-align: bottom;}
.td53{padding: 0px;margin: 0px;width: 180px;vertical-align: bottom;}
.td54{border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 240px;vertical-align: bottom;}
.td55{border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 81px;vertical-align: bottom;}
.td56{border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 31px;vertical-align: bottom;}
.td57{border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 186px;vertical-align: bottom;}
.td58{border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 180px;vertical-align: bottom;}
.td59{padding: 0px;margin: 0px;width: 132px;vertical-align: bottom;}
.td60{padding: 0px;margin: 0px;width: 192px;vertical-align: bottom;}
.td61{padding: 0px;margin: 0px;width: 83px;vertical-align: bottom;}
.td62{padding: 0px;margin: 0px;width: 427px;vertical-align: bottom;}
.td63{border-top: #000000 1px solid;padding: 0px;margin: 0px;width: 218px;vertical-align: bottom;}
.td64{padding: 0px;margin: 0px;width: 12px;vertical-align: bottom;}
.td65{border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 427px;vertical-align: bottom;}
.td66{border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 218px;vertical-align: bottom;}
.td67{border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 73px;vertical-align: bottom;}
.td68{padding: 0px;margin: 0px;width: 218px;vertical-align: bottom;}
.td69{padding: 0px;margin: 0px;width: 85px;vertical-align: bottom;}
.td70{padding: 0px;margin: 0px;width: 303px;vertical-align: bottom;}

.tr0{height: 8px;}
.tr1{height: 11px;}
.tr2{height: 6px;}
.tr3{height: 30px;}
.tr4{height: 24px;}
.tr5{height: 25px;}
.tr6{height: 32px;}
.tr7{height: 7px;}
.tr8{height: 14px;}
.tr9{height: 18px;}
.tr10{height: 9px;}
.tr11{height: 15px;}
.tr12{height: 10px;}
.tr13{height: 21px;}
.tr14{height: 5px;}
.tr15{height: 13px;}
.tr16{height: 22px;}
.tr17{height: 17px;}
.tr18{height: 20px;}
.tr19{height: 16px;}
.tr20{height: 19px;}

.t0{width: 718px;margin-left: 2px;margin-top: 17px;font: 11px 'Arial';}
.t1{width: 718px;margin-top: 8px;font: 11px 'Arial';}
.t2{width: 407px;font: bold 13px 'Arial';}
.t3{width: 730px;font: 8px 'Arial';}