.item-container-grid {
  display: inline-grid;
  position: relative;
  background-color: #fdfdfd;
  grid-template-columns: auto auto auto;
  grid-gap: 20px;
  margin-left: 10%;
  padding: 10px; }
  @media screen and (min-width: 1500px) {
    .item-container-grid {
      grid-template-columns: auto auto auto auto; } }

.item {
  text-align: center;
  position: relative;
  height: 430px;
  width: 230px;
  background-color: #fdfdfd;
  border-style: solid;
  border-width: 1px;
  border-color: #dadada;
  border-radius: 10px; }
  .item div .item-img, .item div img, .item div object {
    width: 200px;
    height: 200px; }
  .item h3 {
    font-family: "Nunito", sans-serif;
    font-size: 35px;
    text-align: center;
    position: relative;
    margin: 5px;
    margin-top: 15px; }
    .item h3 a {
      text-decoration: none; }
  .item ul {
    list-style: none;
    margin: 0;
    padding: 0; }
    .item ul li {
      margin-top: 10px; }
  .item:hover .item-basket {
    display: block; }

.center-bbb {
  display: -webkit-inline-box; }

.item-basket {
  position: absolute;
  right: 30px;
  top: 240px;
  display: none; }
  .item-basket a {
    color: #fff;
    text-decoration: none; }

.items-price {
  text-align: center;
  width: 100% !important; }

.item-priceDph {
  font-size: 20px;
  color: #D44A00; }

.item-price {
  font-size: 13px;
  color: #888; }

.itemsImage {
  display: -webkit-inline-box; }

.quantity-full {
  color: #1a7e1e; }

.quantity-low {
  color: orangered; }

.quantity-null {
  color: red; }

/*# sourceMappingURL=item.css.map */
