#main-menu {
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 9000; }

#main-menu-cont {
  position: relative;
  background-color: #fff;
  min-width: 100%; }
  #main-menu-cont a {
    color: #000000;
    margin: 5px;
    margin-top: 10px;
    margin-bottom: 0px;
    text-decoration: none;
    font-size: 20px; }

#main-menu-shadow {
  box-shadow: 0 2px 24px #b2b2b2;
  position: sticky; }

#category-menu-button {
  background-color: #2b2b2b;
  position: absolute;
  width: 25px;
  height: 25px;
  cursor: pointer; }

#kosik {
  position: absolute;
  top: 20px;
  margin-top: 0px; }
  #kosik:hover {
    z-index: 90000; }

#kosik-a {
  font-size: 20px;
  margin-left: 50px;
  z-index: 9000000; }
  #kosik-a:hover + div {
    display: block; }

/*# sourceMappingURL=mainMenu.css.map */
