#vol {
  position: absolute;
  right: 0px;
  background-color: #2B6FB6;
  width: 250px;
  height: 150px;
  padding-top: 50px;
  z-index: 8000; }
  #vol a {
    color: #222;
    text-decoration: none;
    margin: 5px; }

#div-priceSliderContainer {
  position: absolute;
  right: 10px;
  top: 60px;
  margin-top: 20px;
  width: 230px;
  z-index: 8000; }

#slider-priceRange {
  position: relative;
  width: 45%;
  margin: auto; }

#span-minPrice {
  position: relative;
  float: left; }

#span-maxPrice {
  position: relative;
  float: right; }

.slidePriceRangeHandle {
  width: 1.5em !important;
  height: 1.5em !important;
  text-align: center;
  border-radius: 8px; }

/*# sourceMappingURL=priceRangeSlider.css.map */
