.img-productTitleImage{
    width: 500px;
    height: auto;
    max-width: 500px;
    max-height: 700px;
    float: left;
}
.img-productImage{
    width: 50px;
    height: auto;
    max-width: 50px;
    max-height: 70px;
}
.div-productImages{
    margin-top: 300px;
}